#include "UIKit-Demo.Base.xcconfig"
#include "../Enterprise.xcconfig"

// Declared explicitly rather than by building on top of what's defined in Base so it can be read by other tools such as Fastlane
PRODUCT_BUNDLE_IDENTIFIER = com.automattic.gravatar-sdk-demo-uikit.prototype-build

// Unfortunately, we need to explicitly write the bundle identifier.
// See note in Enterprise.xcconfig about this.
PROVISIONING_PROFILE_SPECIFIER = match InHouse com.automattic.gravatar-sdk-demo-uikit.prototype-build
